<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="https://code.caoxuan.top/js/jquery-3.5.1.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script>
        $(function () {
            $("#form").submit(function () {
                $.cookie('roomId',$("#password").val());
            });
        })
    </script>
</head>
<body>
<br/>
<form id="form" action="/login" method="post">
用户名:
<input type="text" id="username" name="username" placeholder="name"><br/>
密码:
<input type="password" id="password" name="password" placeholder="password"><br/>
<input type="submit" value="提交">
</form>
</body>
</html>